       <div class="main-content">
            <div class="row">
              <div class="col-md-6">
                <div class="widget">
                  <div class="widget-content-white glossed">
                    <div class="padded">
                      <form action="" role="form">
                        <div class="widget-controls pull-right">
                          <a href="#" class="widget-link-remove"><i class="icon-minus-sign"></i></a>
                          <a href="#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
                        </div>
                        <h3 class="form-title form-title-first"><i class="icon-terminal"></i> Basic Form</h3>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>First Column</label>
                              <input type="text" class="form-control" placeholder="First Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Second Column</label>
                              <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Regular Input</label>
                          <input type="email" class="form-control" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <label>Disabled</label>
                          <input class="form-control" disabled="disabled" placeholder="Disabled Field Value">
                        </div>
                        <div class="form-group">
                          <label>Select Box</label>
                          <select class="form-control">
                            <option>France</option>
                            <option>Italy</option>
                            <option>Brazil</option>
                            <option>Portugal</option>
                            <option>Sweden</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Checkboxes</label><br>
                          <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                          </label>
                        </div>

                        <div class="form-group">
                          <label>Radio Buttons</label><br>
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                              United Kingdom
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                              Australia
                            </label>
                          </div>
                        </div>
                        <button class="btn btn-primary">Primary Button</button>
                        <button class="btn btn-default">Cancel Button</button>
                      </form>
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="widget">
                  <div class="widget-content-white glossed">
                    <div class="padded">
                      <form action="" role="form" class="form-horizontal">
                        <div class="widget-controls pull-right">
                          <a href="#" class="widget-link-remove"><i class="icon-minus-sign"></i></a>
                          <a href="#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
                        </div>
                        <h3 class="form-title form-title-first"><i class="icon-th-list"></i> Horizontal Form</h3>
                        <div class="form-group">
                          <label class="col-md-4 control-label">Text Field</label>
                          <div class="col-md-8">
                            <input type="email" class="form-control" placeholder="Enter email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-4 control-label">Password</label>
                          <div class="col-md-8">
                            <input type="password" class="form-control" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-4 control-label">Disabled</label>
                          <div class="col-md-8">
                            <input class="form-control" disabled="disabled" placeholder="Disabled Field Value">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-4 control-label">Select Box</label>
                          <div class="col-md-8">
                            <select class="form-control">
                              <option>France</option>
                              <option>Italy</option>
                              <option>Brazil</option>
                              <option>Portugal</option>
                              <option>Sweden</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-offset-4 col-md-8">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"> Remember me
                              </label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-default">Primary Button</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src='assets/js/jquery.sparkline.min.js'></script>
<script src='assets/js/bootstrap/tab.js'></script>
<script src='assets/js/bootstrap/dropdown.js'></script>
<script src='assets/js/bootstrap/collapse.js'></script>
<script src='assets/js/bootstrap/transition.js'></script>
<script src='assets/js/bootstrap/tooltip.js'></script>
<script src='assets/js/jquery.knob.js'></script>
<script src='assets/js/fullcalendar.min.js'></script>
<script src='assets/js/datatables/datatables.min.js'></script>
<script src='assets/js/chosen.jquery.min.js'></script>
<script src='assets/js/datatables/bootstrap.datatables.js'></script>
<script src='assets/js/raphael-min.js'></script>
<script src='assets/js/morris-0.4.3.min.js'></script>
<script src='assets/js/for_pages/color_settings.js'></script>
<script src='assets/js/application.js'></script>

<script src='assets/js/for_pages/forms.js'></script>

</body>

</html>